/* Estilo de reinicio para todos los elementos */
* {
    margin: 0;
    padding: 0;
}

/* Estilo para el cuerpo de la página */
body {
    /* Fondo con imagen centrada y ajustada al tamaño de la ventana */
    background: url(./img/mpselsvdsfvor3d.png) no-repeat center;
    height: 100vh;
    width: 100%;
    background-size: cover;
}

/* Estilo para el contenedor principal */
.container {
    /* Grid container con 20 columnas y altura automática según el contenido */
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-auto-rows: minmax(100px, auto);

    /* Posicionamiento en el centro de la pantalla */
    position: absolute;
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* Fondo con transparencia y efecto de desenfoque */
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5%);

    /* Sombra para el contenedor */
    box-shadow: 0 0 5px #36cb25;

    /* Bordes redondeados */
    border-radius: 15px;

    /* Oculta el desbordamiento de los contenidos */
    overflow: hidden;

    /* Animación de entrada con opacidad */
    animation-name: entrada;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    opacity: 1;
}

/* Animación de entrada con opacidad */
@keyframes entrada {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* Estilo para la barra de navegación */
.container .nav {
    grid-column: 1/4;
    padding: 1%;
    border-right: 2px solid rgb(54, 203, 37);
}

/* Estilo para el logotipo */
.container .nav img {
    margin: 5px;
}

/* Estilo para la lista de enlaces de navegación */
.container .nav ul {
    list-style: none;
}

/* Estilo para cada elemento de la lista de enlaces de navegación */
.container .nav ul li {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 1rem;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(0, 170, 17);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    overflow: hidden;
}

/* Estilo para los enlaces de navegación */
.container .nav ul li a {
    text-decoration: none;
    display: block;
    /* Transiciones al cambiar de color y escala */
    transition: color 0.3s ease, transform 0.3s ease;
    padding: 3px;
}

/* Estilo para los enlaces de navegación al hacer hover */
.container .nav ul li a:hover {
    color: #E8B71A;
    transform: scale(1.5);
    transform-origin: left;
}

/* Estilo para los enlaces de navegación inactivos */
.inactive-link {
    color: #10390e;
}

/* Estilo para los enlaces de navegación activos */
.active-link {
    color: #b46402;
}

/* Estilo para el contenido principal */
.content {
    grid-column: 4/21;
    position: absolute;
    width: 100%;
    height: 100%;
}
.enlaces-sociales{
    margin-top: 8rem;
    vertical-align: bottom;
}
.contenido-social .enlaces-sociales{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.contenido-social h2{
    grid-column: 1/5;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #b46402;
    font-size: 3rem;
    border-bottom: 2px solid #b4b4b4;
    margin: 2rem;
    padding-bottom: 1rem;
}
.contenido-social h4{
    grid-column: 1/5;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #b46402;
    margin: 1rem;
}

.contenido-social .enlaces-sociales .whatsapp,
.contenido-social .enlaces-sociales .phone,
.contenido-social .enlaces-sociales .fb,
.contenido-social .enlaces-sociales .mail{
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

.contenido-social .enlaces-sociales .whatsapp p,
.contenido-social .enlaces-sociales .phone p,
.contenido-social .enlaces-sociales .fb p,
.contenido-social .enlaces-sociales .mail p{
    color: #b46402;
    font-size: medium;
    margin-bottom: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}

.contenido-social .phone .nums .num1,
.contenido-social .phone .nums .num2{
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.contenido-social .phone .nums .num1 img,
.contenido-social .phone .nums .num2 img{
    width: 11%;
}
.contenido-social .whatsapp a img,
.contenido-social .fb a img{
    margin: 2rem;
    width: 40%;
}
.contenido-social .mail a img{
    margin: 2rem;
    width: 65%;
}
.contenido-social .phone .nums .num1 a,
.contenido-social .phone .nums .num2 a{
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.3rem;
    color: #b46402;
}

/* Estilo para el contenido del contacto y ubicaciones */
.contenido-ubicaciones {
    /* Grid container con 2 columnas y altura automática según el contenido */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(auto, auto);
}

/* Estilo para el título del contenido de contacto y ubicaciones */
.contenido-ubicaciones h2 {
    /* Spanning de 2 columnas y centrado */
    grid-column: 1/3;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #b46402;
    font-size: 3rem;
    border-bottom: 2px solid #b4b4b4;
    margin: 2rem;
    padding-bottom: 1rem;
}

/* Estilo para los mapas de ubicaciones */
.contenido-ubicaciones .mapa1,
.contenido-ubicaciones .mapa2 {
    margin: 0 auto;
    text-align: center;
}

/* Estilo para los párrafos de los mapas de ubicaciones */
.contenido-ubicaciones .mapa1 p,
.contenido-ubicaciones .mapa2 p {
    color: #b46402;
    font-size: medium;
    margin-bottom: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}

/* Estilo para los iframes de los mapas de ubicaciones */
.contenido-ubicaciones iframe {
    width: 20rem;
    height: 20rem;
    /* Bordes redondeados y sombra */
    border-radius: 15px;
    box-shadow: 1px 1px 1px #000000, 2px 2px 1px #fff, 3px 3px 1px #000000, 5px 5px 7px #36cb25;
}

/* Estilo para el contenido que se oculta y aparece con transición */
.contenido {
    transition: opacity 0.5s ease, visibility 0.5s ease;
    opacity: 0;
    visibility: hidden;
}

/* Estilo para el contenido visible */
.visible {
    opacity: 1;
    visibility: visible;
}
